/* common */
.inner{
    width: 1700px;
    position:relative;
}

/* nav var */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    border-bottom: 2px solid white;
}

a:hover{
    text-decoration: none;
    color: #377d71;
}

.logo{
    display: flex;
    align-items: center;
}

.brand-name{
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
}

.logo-img{
    display: flex;
    width: 80px;
    margin-bottom: 0px;
}

.navlink{
    display: flex;
    flex-direction: column;
}

.gnb{
    display: flex;
    list-style-type: none;
    align-items: center;
    font-size: 18px;
}

.gnb li:nth-child(n+2){
    margin-left: 30px;
}

.nav-name{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.nav-img{
    width: 50px;
    filter: invert(100%) sepia(3%) saturate(356%) hue-rotate(240deg) brightness(114%) contrast(100%);
}

/* Background Image
.main-img{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
} */

/* room */
.room{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

.room-box{
    margin-left: 50px;
    margin-right: 50px;
}

.img-room{
    width: 500px;
    height: 300px;
}

.room-name{
    margin-top: 10px;
    margin-bottom: 0;
    color:black;
    font-size: 22px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.room-term{
    margin-top: 5px;
    margin-bottom: 0;
    color:#949494;
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
}

.room-tax{
    margin-top: 14px;
    margin-bottom: 0;
    color:black;
    font-size: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}


/* footer */
footer {
    margin-top: 100px;
    width: 100%;
    height: 150px;
    bottom: 0px;
    background: rgba(217, 217, 217, 0.5);
}

.footer-container {
    padding-left: 35px;
    padding-top: 15px;
}

.bolder {
    font-weight: bolder;
}

.fontsize13 {
    font-size: 13px;
}

.copyright {
    font-size: 5px;
}

body {
    margin: 0;
    padding: 0;
}

/* nav var _ black version*/
.navB{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1; */
    border-bottom: 2px solid black;
}

.brand-nameB{
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
}

.nav-nameB{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-imgB{
    width: 50px;
}