/* 메인 */
#main {
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    width: 500px;
    height: 500px;
  }
  
  /* 채팅 영역 */
  #chat {
    height: 90%;
    width: 100%;
    overflow-y: auto;
  }
  
  /* 접속 알림 */
  .connect {
    width: 90%;
    margin: auto;
    background-color: rgb(172, 248, 223);
    text-align: center;
    margin-top: 10px;
  }
  
  /* 접속 종료 알림 */
  .disconnect {
    width: 90%;
    margin: auto;
    background-color: rgb(231, 165, 165);
    text-align: center;
    margin-top: 10px;
  }
  
  /* 내가 보낸 메시지 */
  .me {
    width: 90%;
    margin: auto;
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid rgb(214, 214, 214);
  }
  
  /* 상대방이 보낸 메시지 */
  .other {
    width: 90%;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid rgb(201, 201, 201);
  }

  /* 전송버튼 */
  .send {
    background: #FBC5C5;
    border-radius: 20px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    border: 0;
    outline: 0;
  }