
#popup {
    display: none; /*숨기기*/
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.503);
}

#exit {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    border: 0;
    outline: 0;
    background-color: rgba(238, 238, 238, 0.788);
}

/* Search Box */
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 45%;
    left: 50%;
    background-color: rgba(238, 238, 238, 0.788);
    width: 80%;
    height: 300px;
    border: 3px solid #e7e7e7;
    border-radius: 15px;
    margin: 20px
}

.search-container {
    text-align: center;
    flex-direction: column;
    height: 300px;
    width: 60%;
    background-color: rgba(238, 238, 238, 0.788);
    border: 3px solid #e7e7e7;
    border-radius: 15px;
    margin-top: 100px;
    margin-left: 300px;
}
 
.bottom {
    margin-top: 100px;
}

.srch-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.marg{
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    padding: 0;
    background-color: rgba(245, 245, 220, 0);
    text-align: center;    
}

.location{
    padding: 0;
    background-color: rgba(245, 245, 220, 0);
    text-align: center;    
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 3px;
}

input::placeholder{
    color: rgba(143, 143, 143, 0.856);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 3px;
}

input:focus{
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 3px;
    outline: none;
}
.date{
    /* color: rgba(143, 143, 143, 0.856); */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 3px;
}
.date::before{
    content: attr(data-placeholder);
    width: 100%;
    color: rgba(143, 143, 143, 0.856);
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 3px;
}

.date:focus::before,
.date:valid::before{
    display: none;
}

.default-btn {   
    background-color: #377d71;   
    width: 8%;  
    color: white;  
    margin-top: 100px;
    margin-right: 30px; 
    padding: 10px;   
    border: none;   
    cursor: pointer;   
    border-radius: 10px;
    float: right;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    letter-spacing: 3px;
}   

.search-btn{
    position: absolute;
    top: 250px;
    left: 700px;
    width: 70px;
    height: 30px;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    letter-spacing: 3px;
    background-color: #377d71;
    border: none;
}

.search-btn:hover{
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 3px;
}